# Ignore everything
*


# But NOT these files
!.gitignore
!.gitattributes
!README.md
!LICENSE
profiles/brando_profile

# And NOT these directories (and their contents)
!scripts/
!scripts/**
!LICENCE
!conda_env_yaml/
!conda_env_yaml/**
!workflow/
!workflow/**
!test_data
!test_data/**
!configs/
!configs/config.yaml
!profiles/
!profiles/HPC_profile/
!profiles/HPC_profile/config.yaml
!profiles/local_profile/
!profiles/local_profile/config.yaml
!docs/
!docs/**

# Ignore editor swap files
workflow/*.swp
