# Ignore everything
*

# But NOT these files
!.gitignore
!README.md

# And NOT these directories (and their contents)
!scripts/
!scripts/**
!LICENCE
!conda_env_yaml/
!conda_env_yaml/**
!workflow/
!workflow/**
!test_data
!test_data/**
!configs/cluster-config.yaml
!configs/config.yaml
