# Ignore everything
*


# But NOT these files
!.gitignore
!.gitattributes
!README.md
!LICENSE
profiles/brando_profile

# And NOT these directories (and their contents)
!scripts/
!scripts/**
!LICENCE
!conda_env_yaml/
!conda_env_yaml/**
!workflow/
!workflow/**
!test_data
!test_data/**
!configs/
!configs/cluster-config.yaml
!configs/config.yaml
!configs/config_local.yaml
!profiles/
!profiles/slurm_profile/
!profiles/slurm_profile/config.yaml
!profiles/local/
!profiles/local/config.yaml
!docs/
!docs/**

# Ignore editor swap files
workflow/*.swp
